name: Datetime Parser Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

variables:
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r test_requirements.txt
        pip install -r requirements.txt
    - name: Static analysis with mypy
      run: |
        python -m mypy --ignore-missing-imports hun_date_parser
    - name: Static analysis with flake8
      run: |
        python -m flake8 --max-line-length=120 --per-file-ignores='patterns.py:E501' hun_date_parser
    - name: Test with pytest
      run: |
        pytest --cov hun_date_parser
    -name: Coverage report
      run: python -m coveralls
